h1{
 color: red;   
}

.mainContainer{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    border: solid black;
}

.firstImg{
    width: 30%;
    height: 100%;
}

body{
    display: flex;
    background-color: #fff;
}

p{
    color: grey;
}

.secondContainer{
    display: flex;
    
    width: 100%;
    border: solid black;
    align-items: center;
}

.rate{
    width: 5%;
    height: 20%;
    
}

.star{
    width: 50%;
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
}

.par{
    width: 30%;
    margin-left: 10%;
}